<div class="quizzes_show">
  <div class='wrap'>
    <div class="page-content">
      <div class="container vertical-padded quiz animated">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div>
              <% if @result < 50 %>
                <div class="progress-radial progress-radial-bad progress-bad-<%= @result %>">
              <% elsif @result >= 50 && @result < 80 %>
                <div class="progress-radial progress-radial-avg progress-avg-<%= @result %>">
              <% elsif @result >= 80 && @result < 100 %>
                <div class="progress-radial progress-radial-good progress-good-<%= @result %>">
              <% else %>
                <div class="progress-radial progress-radial-perfect progress-perfect-<%= @result %>">
              <% end %>
                <div class="overlay"><%= @result %>%</div>
              </div>
            </div>
            <div class="quiz-controls text-center">
              <%= link_to retake_quiz_path, class: "btn" do  %>
                Refaire le quiz</i>
              <% end %>
              <a class="btn" href="/">Retour au cours</a>
              <a class="btn btn-success" href="/">Flashcards</a>
            </div>
            <p class="text-muted text-center">Voici tous les sujets que vous devriez réviser...</p>

            <% @incorrect_answers.each do |answer| %>
              <div class="row">
                <div class="question-header">
                  <div class="content">
                    <h2><%= answer.question.name %></h2>
                  </div>
                </div>
                <div class="question-choice">
                  <div class="number number-wrong">
                    <span><i class="fa fa-remove"></i></span>
                  </div>
                  <div class="content">
                    <p><%= Option.find(answer.choice_id).name %></p>
                  </div>
                </div>
                <div class="question-choice">
                  <div class="content">
                    <div class="number number-right">
                      <span><i class="fa fa-check"></i></span>
                    </div>
                    <% correct_answer = answer.question.correct_answer %>
                    <p><%= correct_answer.name %></p>
                  </div>
                </div>
              </div>

            <% end %>
            <div class="quiz-controls text-center">
              <%= link_to retake_quiz_path, class: "btn" do  %>
                Refaire le quiz</i>
              <% end %>
              <a class="btn" href="/">Retour au cours</a>
              <a class="btn btn-success" href="/">Flashcards</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
