<div id="flashcards-container" class="flex-container-column">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <%= link_to decks_path, class:"btn btn-default btn-left" do  %>
          <i class="mdi mdi-chevron-left"></i> Playboard
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">
        <div class="deck-stats">
          <div class="deck-stats-message">
            <div class="pull-right reset-deck-link">
              <i class="fa fa-repeat"></i>
              <%= link_to "Replay all", replay_deck_path(@deck.path), data: { confirm: "This will reset all your flashcards in this deck. Are you sure?" }, rel: "nofollow" %>
            </div>
            <% if @unplayed_cards.empty? %>
              <p>You have mastered all <strong><%= @deck.set_card.length %></strong> cards in this deck! ðŸŽ‰</p>
            <% else %>
              <p>You have mastered <strong><%= @deck.mastered_cards.length %></strong> out of <%= @deck.set_card.length %> cards in this session.</p>
            <% end %>
          </div>


          <div class="deck-stats-progress">
            <div class="progress">
              <div class="mastered-progress-bar" style="width: <%= @deck.mastered_cards.length.fdiv(@deck.set_card.length)*100 %>%;"></div>
              <div class="not-mastered-progress-bar" style="width: <%= @deck.unmastered_cards.length.fdiv(@deck.set_card.length)*100 %>%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">
        <div class="flashcard-container">
          <div id="flashcard">
            <div class="cardSlideIn">
              <div class="cardSpinner"></div>
              <div class="flashcard-game-card-front">
                <div class="flashcard-game-card bg-white">
                  <div class="flashcard-game-card-header">
                    <div class="flashcard-game-card-title">

                      <h4><%= @deck.name %> |</h4>
                      <% if  !@played_card.nil?  %>
                        <h4 style="color: red"> You already played this card but did not know the answer! New try!</h4>
                      <% end %></p>
                    </div>
                    <div class="flashcard-game-card-controls">
                    </div>
                  </div>
                  <div class="flashcard-game-card-content">
                    <%= raw @selected_card.front %>
                    <textarea class="form-control" id="user-guess-text-area" autofocus="" rows="4" placeholder="Enter your answer here (alt + enter to flip card)"></textarea>
                    <a class="btn btn-default flip-button" href="javascript:void(0)">
                      <i class="mdi mdi-refresh"></i> flip card (Alt + Enter)
                    </a>
                  </div>
                </div>
              </div>
              <div>
                <div class="flashcard-game-card-back invisible">
                  <div class="flashcard-game-card bg-white">
                    <div class="flashcard-game-card-header">
                      <div class="flashcard-game-card-title">
                        <h4><%= @deck.name %></h4>
                      </div>
                      <div class="flashcard-game-card-controls">
                        <a data-toggle="modal" data-target="#issueModal" data-placement="top" title="" id="reportBugAction" class="icon-link" href="#" data-original-title="Report a bug">
                          <i class="mdi mdi-bug"></i>
                        </a>
                        <a class="bookmark-action icon-link bookmark-action-sort_by" data-toggle="tooltip" data-placement="top" title="" data-remote="true" rel="nofollow" data-method="post" href="/camps/70/bookmarked_cards?bookmarked_card%5Bcard_slug%5D=sort_by&amp;bookmarked_card%5Bpath%5D=01-Ruby%2F03-Iterators-Blocks" data-original-title="Add to bookmarks">
                          <i class="mdi mdi-bookmark-outline"></i>
                        </a>
                      </div>
                    </div>
                    <div class="flashcard-game-card-content">
                      <%= raw @selected_card.back %>
                      <a class="btn btn-default flip-button" href="javascript:void(0)">
                        <i class="mdi mdi-refresh"></i> flip card (Alt + Enter)
                      </a>
                    </div>
                  </div>
                  <div class="flashcard-game-card-guess">
                    <p><strong>What you guessed: </strong></p>
                    <p id="user-guess-render"></p>
                  </div>
                  <div class="flashcard-game-card-action-buttons">
                    <%= simple_form_for PlayedCard.new, class: "form-red" do |f| %>
                      <%= f.hidden_field :card_slug, value:@selected_card.slug %>
                      <%= f.hidden_field :guess %>
                      <%= f.hidden_field :deck_path, value:@selected_card.deck_path %>
                      <%= f.hidden_field :mastered, value:false %>
                      <%= f.submit "â† Did not know", class: "btn btn-red flashcard-submit" %>
                    <% end %>

                    <%= simple_form_for PlayedCard.new, class: "form-green" do |f| %>
                      <%= f.hidden_field :card_slug, value:@selected_card.slug %>
                      <%= f.hidden_field :guess %>
                      <%= f.hidden_field :deck_path, value:@selected_card.deck_path %>
                      <%= f.hidden_field :mastered, value:true %>
                      <%= f.submit "I knew it! â†’", class: "btn btn-green flashcard-submit" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



