<p><%= @selected_card.front %></p>
<p><%= @selected_card.index %></p>

<% if @played_card.nil? %>
  <%= form_for(PlayedCard.new) do |f| %>
    <%= f.text_field :card_slug, value:@selected_card.slug, class:"hidden" %>
    <%= f.text_field :choice, value:1, class:"hidden" %>
    <%= f.text_field :deck_path, value: @selected_card.deck_path, class:"hidden" %>
    <%= f.submit %>
  <% end %>
<% else %>
  <% if  @played_card.played? %>
  <p>Already played! Choice was <%= @played_card.choice %> </p>
  <% end %>
<% end %>

<%= link_to "Return to Deck", deck_path(@deck.path) %>
