<h1><%= @decks.length %></h1>
<% @decks.each do |deck| %>
  <p>Name : <%= deck.name %></p>
  <p>Slug : <%= deck.slug %></p>
  <p>Path : <%= deck.path %></p>
  <%= link_to "Show", deck_path(deck.path)  %>
<% end %>



